@page "/"

<h1>Hello, world!</h1>

<p>
    This is a <b>Blazor Server <u>Demo</u></b> website!<br /><br />

    You can take a look at the Food List and Create Orders. <br />
    You also can then change/update Orderer Name or delete the order if you want!
</p>